.btn{
    @include font-size(14, 24, 0.5);
    font-weight: 600;
    border: 1px solid $color-black;
    padding: 12px 46.5px;
    background-color: $color-white;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    cursor: pointer;
    &:hover{
        background-color: $color-black;
        color: $color-white;
    }
}
