@mixin box($width, $height: $width){
    width: $width;
    height: $height;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-columnn{
    @include flex-center;
    flex-direction: column;
}

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal){
    font-size: #{$font-size}px;

    @if $line-height == normal{
        line-height: normal;
    }@else{
        line-height: calc($line-height / $font-size);
    }


    @if $letter-spacing == normal{
        letter-spacing: normal;
    }@else{
        letter-spacing: #{calc($letter-spacing / $font-size)}em;
    }
}
