.footer{
    border-top:  1px solid $color-medium-gray;
    &__nav{
        display: flex;
    }
    &__content{
        padding: 64px 0px;
        display: flex;
        justify-content: space-between;
    }
    &__list{
        &:not(:last-child){
            margin-right: 82px;
        }
        &_color_gray{
            color: $color-dark-gray;
        }
    }
    &__item{
        font-weight: 400;
        @include font-size(14, 48, 0);
        & a{
            transition: opacity .2s ease-in-out;
        }

        & a:hover{
            opacity: .8;
        }
    }
    &__info{
        &-tel{
            display: block;

            text-align: end;
            @include font-size(18 , 18);
            margin-bottom: 2px;
            transition: opacity .2s ease-in-out;
            &:hover{
                opacity: .8;
            }
        }
        &-schedule{
            @include font-size(14, 44);
            color: $color-dark-gray;
            text-align: end;
        }
        &-list{
            display: flex;
            justify-content: end;
        }
        &-item{
            transition: opacity .2s ease-in-out;
            &:hover{
                opacity: .8;
            }
            &:not(:last-child){
                margin-right: 30px;
            }

        }
        &-text{
            @include font-size(12, 44);
            color: $color-dark-gray;
            text-align: end;
        }

    }

}