.get-phone{
    &__section{
        margin-top: 117px;
        border-top: 1px solid $color-medium-gray;
        border-bottom: 1px solid $color-medium-gray;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        padding: 63px 45px;
    }
    &__title{
        margin-bottom: 25px
    }
    &__text{
        @include font-size(16, 24, 0);
        color: $color-dark-gray;
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__input{
        width: 451px;
        border-bottom: 1px solid $color-beige;
        margin-bottom: 31px;
        &:focus{
            border-color: #c4b099;;
        }
    }
    &__btn{
        width: max-content;
    }
}