.product-card{
    &__content{
        padding-top: 79px;
        display: flex;
        padding-bottom: 104px;
    }
    &__photo{
        display: inline-block;
        background-color: #f5f5f5;
        width: 642px;
        height: 633px;

    }
    &__photo-container{
        position: relative;
        margin-right: 107px;
        &::before{
            content: '';
            position: absolute;
            top: 21px;
            left: 21px;
            width: 642px;
            height: 633px;
            border: 5px solid $color-beige;
            z-index: -1;
        }
    }
    &__info{
        padding-top: 83px;
        padding-left: 100px;

    }
    &__title{
        position: relative;
        cursor: pointer;
        max-width: 480px;
        @include font-size(40 ,48);
        font-weight: 300;
        margin-bottom: 32px;
        &::before{
            position: absolute;
            top: 25px;
            left: -100px;
            content: '';
            width: 60px;
            border-top: 5px solid $color-beige ;
        }
    }
    &__price{
        @include font-size(36 ,24);
        font-weight: 600;
        margin-bottom: 37px;
    }
    &__select{
        font-size: 16px;
        margin-bottom: 76px;
    }
    &__buttons{
        position: relative;
        display: flex;
        max-width: 387px;
        justify-content: space-between;
        margin-bottom: 51px;
    }
    &__description{
        position: relative;
        &-title{
            cursor: pointer;
            display: inline;
            color: $color-dark-gray;
            font-weight: 500;
            @include font-size(14, 32, 1);
            padding-bottom: 7px;
            &.active{
                color: black;
                border-bottom: 2px solid black;
            }
            &:not(:last-child){
                margin-right: 39px;
            }
        }
        &-body{
            position: absolute;
            top: 54px;
            display: none;
            max-width: 463px;
            @include font-size(14, 24, 0);
            &.active{
                display: block;
            }
        }

    }
    &__cart-btn{
        position: relative;
    }
}